<mat-toolbar color="accent">
  <mat-toolbar-row style="background-color: #008037;">
    <nav><img src="./assets/logoverde.PNG" alt="logo" class="logo-img"></nav>
    <span>Encuentralo Facil</span>
    <span class="example-spacer"></span>
    <button mat-raised-button style="background-color: #88DC65;" color="primary" [routerLink]="'/list'">Inicio</button>
    <button mat-raised-button style="background-color: #88DC65;" color="primary" [routerLink]="'/list'">Comparaciones</button>
    <button mat-raised-button style="background-color: #88DC65;" color="primary" [routerLink]="'/addAuto'">Cerrar Sesión</button>

  </mat-toolbar-row>
</mat-toolbar>
