<!-- HTML -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="background-image">
<div class="mat-card">
<mat-card>
<div class="container-style" class="login-container">
  <form class="form-style" #form="ngForm" (ngSubmit)="login(form)">
    <h1 class="header-style"> Inicio de sesión</h1>
    <div  color="primary" class="input-group">
      <label for="username" class="header-style">Nombre de usuario </label>
      <input id="username" name="username" type="text" class="form-control" [(ngModel)]="creds.username">
    </div>
    <div color="primary"  class="header-style">
      <label for="password">Contraseña </label>
      <input id="password" name="password" type="password" class="form-control" [(ngModel)]="creds.password">
    </div>
    <div class="input-group">
      <button mat-raised-button color="primary" style="background-color: #88DC65;" [routerLink]="'/list'">Ingresar</button>
    </div>

  </form>
</div>
</mat-card>
</div>
</div>
