<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <div style="flex: 1; min-width: 300px; padding: 10px;">
    <img src="assets/beneficios.png" style="max-width: 100%; border: none;">
  </div>
  <div style="flex: 1; min-width: 300px; padding: 10px; display: flex; flex-direction: column; justify-content: space-between;">
    <div style="margin-bottom: 10px;">
      <img src="assets/ahorro.png" height="100" width="100" style="border: none;">
      <p style="color:black; font-size: 20px; font-weight: bold">Ahorro</p>
      <p class="card-title" style="color:black; font-size: 18px">Mayor oportunidad de ahorrar en tus compras.</p>
    </div>
    <div style="margin-bottom: 10px;">
      <img src="assets/descuentos.png" height="100" width="100" style="border: none;">
      <p style="color:black; font-size: 20px; font-weight: bold">Descuentos</p>
      <p class="card-title" style="color:black; font-size: 18px">Ofertas de productos por parte de los vendedores.</p>
    </div>
    <div style="margin-bottom: 10px;">
      <img src="assets/localizacion.png" height="100" width="100" style="border: none;">
      <p style="color:black; font-size: 20px; font-weight: bold">Cerca</p>
      <p class="card-title" style="color:black; font-size: 18px">Referencias de tiendas cercanas en un punto especifico.</p>
    </div>
    <div style="margin-bottom: 10px;">
      <img src="assets/tendencias.png" height="100" width="100" style="border: none;">
      <p style="color:black; font-size: 20px; font-weight: bold">Tendencias</p>
      <p class="card-title" style="color:black; font-size: 18px">Información sobre las tendencias de precios y productos.</p>
    </div>
  </div>
</div>
