<header id="page-header">
  <div class="container">
    <h1>Carrito de Compras</h1>
  </div>
</header>
<body>
  <section class="padded">
    <div id="main-container">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaItemsCarrito">
            <td>{{item.id}}</td>
            <td>{{item.category}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.price | number: '.2'}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price! * item.quantity! | number: '.2'}}</td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button style="background-color: #06a948;" color="primary" (click)="vaciarCarrito()">Vaciar carrito</button>
    </div>
  </section>
</body>
